# Ignore Gradle project-specific cache directory
.gradle
.idea

common-utils/target/
common-utils/out/
common-utils/src/main/generated/
common-utils/generated/

java-source-utils/target/
java-source-utils/out/
java-source-utils/src/main/generated/
java-source-utils/generated/

oauth2-utils/target/
oauth2-utils/out/
oauth2-utils/src/main/generated/
oauth2-utils/generated/

proto-test-model/target/
proto-test-model/out/
proto-test-model/src/main/generated/
proto-test-model/generated/

proto-utils/target/
proto-utils/out/
proto-utils/src/main/generated/
proto-utils/generated/

telephony-api/target/
telephony-api/out/
telephony-api/src/main/generated/
telephony-api/generated/
